XML and XML schema/peoplexsd.xml

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="people" type="peopleType"/>
    
    <xsd:complexType name="peopleType">
        <xsd:sequence>
            <xsd:element name="person" type="personType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="personType" >
        <xsd:sequence>
            <xsd:element name="firstname" type="xsd:string"/>
            <xsd:element name="lastname" type="xsd:string"/>
            <xsd:element name="birthdate" type="xsd:string"/>
            <xsd:element name="healthprofile" type="healthprofileType"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="healthprofileType">
        <xsd:sequence>
            <xsd:element name="lastupdate" type="xsd:string"/>
            <xsd:element name="weight" type="xsd:string"/>
            <xsd:element name="height" type="xsd:string"/>
            <xsd:element name="bmi" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>